$primary-color: rgba(67, 130, 181, 255);
$secondary-color: rgb(44, 44, 44);
$offset-color: rgb(207, 207, 207);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(230, 230, 230);
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 0 0 0;
}

.nav-container {
  font-weight: bold;
  height: 11.5vh;
  background-color: rgb(240, 240, 240);
  padding: 1vh 8vw; //padding: 2vh 8.5vw; //padding: 15px 100px;
  //border-bottom: 2px solid $primary-color;

  .navbar {
    width: auto;
    height: 100%;

    .logo {
      height: 7vh;
      width: 4vw;
      float: left;
      display: none;
      margin: 6px 0 0 0;
    }

    .hamburger-container {
      float: left;
      margin: 4px 0 0 0;
      :hover {
        cursor: pointer;
      }
      .hamburger {
        border: none;
        background: none;
        div {
          width: 35px;
          height: 5px;
          background-color: $primary-color;
          margin: 6px 0;
          border-radius: 6px;
        }
      }
    }

    .nav-menu-container {
      float: left;
      padding: 3.5vh 8.5vw; //padding: 16px 100px;
      display: none;

      .nav-menu {
        width: auto;
        height: 100%;

        a {
          text-decoration: none;
          color: rgb(49, 49, 49);
          :hover {
            color: $primary-color;
          }

          .nav-item {
            float: left;
            margin: 0 1.4vw;
            font-weight: 500;
            //font-size: 0.9em;
            background: none;
          }
        }
        a.active {
          color: $primary-color;
        }
      }
    }

    .nav-buttons {
      float: right;

      .button-container {
        padding-top: 1.5vh; //padding-top: 8px;
        .sign-up,
        .log-in {
          font-family: "Noto Sans JP", sans-serif;
          font-weight: 500;
        }
        .sign-up {
          background: none;
          border: none;
          margin-right: 20px;
          color: $primary-color;
          cursor: pointer;
        }
        .log-in {
          border-radius: 20px;
          border: none;
          background: $primary-color;
          color: white;
          padding: 10px 30px;
          cursor: pointer;
        }
      }
    }
  }
}
header {
  .header-container {
    margin: 50px 0;
    padding: 0 110px;
    width: 100%;
    height: 12vh;
    border: 1px solid black;
    .header-top {
      width: 100%;
      border: 1px solid blue;
      .crypto-logo {
        height: 70px;
        width: 70px;
        float: left;
      }
      h1 {
        margin: 16px 26px;
        color: $secondary-color;
      }
      h4 {
        margin: 26px 0px;
        color: gray;
      }
      .crypto-logo,
      h1,
      h4 {
        float: left;
      }
    }
  }
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .nav-container {
    border-bottom: 1px solid rgb(207, 207, 207);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .nav-container {
    border-bottom: 1px solid green;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .nav-container {
    border-bottom: 1px solid yellow;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-container {
    .navbar {
      .logo {
        display: inline;
        cursor: pointer;
      }
      .nav-menu-container {
        display: inline;
      }
      .hamburger-container {
        display: none;
      }
    }
  }

  .nav-container {
    border-bottom: 1px solid red;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .nav-container {
    border-bottom: 1px solid blue;
  }
}
