$primary-color: rgb(67, 130, 181);
$primary-bkg: rgb(255, 255, 255);
$nav-button-hover: rgb(58, 111, 155);
$base-text-color: rgb(44, 44, 44);
$border-color: rgb(207, 207, 207);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root {
  height: 100%;
  background: $primary-bkg;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 0 0 0;
}

.nav-container {
  font-weight: bold;
  height: 11.5vh;
  background-color: $primary-bkg;
  padding: 1vh 4vw; //padding: 2vh 8.5vw; //padding: 15px 100px;
  border-bottom: 1px solid $border-color;

  .navbar {
    width: auto;
    height: 100%;

    .logo {
      height: 7vh;
      width: 4vw;
      float: left;
      display: none;
      margin: 6px 0 0 0;
    }

    .hamburger-container {
      float: left;
      margin: 10px 0 0 0;

      :hover {
        cursor: pointer;
      }

      .hamburger {
        border: none;
        background: none;

        div {
          width: 35px;
          height: 5px;
          background-color: $primary-color;
          margin: 6px 0;
          border-radius: 6px;
        }
      }
    }

    .nav-menu-container {
      float: left;
      padding: 3.5vh 8.5vw; //padding: 16px 100px;
      display: none;

      .nav-menu {
        width: auto;
        height: 100%;

        a {
          text-decoration: none;
          color: rgb(49, 49, 49);
          :hover {
            color: $primary-color;
          }

          .nav-item {
            float: left;
            margin: 0 1.4vw;
            font-weight: 500;
            //font-size: 0.9em;
            background: none;
          }
        }

        a.active {
          color: $primary-color;
        }
      }
    }

    .nav-buttons {
      float: right;

      .nav-button-container {
        padding-top: 1.5vh; //padding-top: 8px;

        .sign-up,
        .log-in {
          font-family: "Noto Sans JP", sans-serif;
          font-weight: 500;
        }

        .sign-up {
          background: none;
          border: none;
          margin-right: 20px;
          color: $primary-color;
        }
        button.sign-up:hover {
          color: $nav-button-hover;
          cursor: pointer;
        }

        button.log-in {
          border-radius: 20px;
          border: none;
          background: $primary-color;
          color: white;
          padding: 10px 30px;
        }
        button.log-in:hover {
          background: $nav-button-hover;
          cursor: pointer;
        }
      }
    }
  }
}

header {
  .header-container {
    margin: 4vh 0; //margin: 50px 0;
    padding: 0 4vw; //padding: 0 110px;
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid $border-color;

    .header-left {
      width: 100%;
      //border: 1px solid blue;

      .crypto-logo {
        position: relative;
        top: 4px;
        height: 40px; //height: 50px; //height: 70px;
        width: 40px; //width: 50px; //width: 70px;
        float: left;
      }

      h1 {
        font-size: 1em; //font-size: 1.3em; //font-size: 20px;
        margin: 2.2vh 2vw 0 3.5vw; //margin: 16px 10px 0 18px;
        color: $base-text-color;
        font-weight: 500;
      }

      h4 {
        font-size: 0.5em; //font-size: 0.8em; //font-size: 12px;
        margin: 3vh 0; //margin: 20px 0px;
        color: gray;
        font-weight: 500;
      }

      .crypto-logo,
      h1,
      h4 {
        float: left;
      }
    }

    .header-middle {
      float: left;
      margin: 0 0 0 12vw; //margin: 0 0 0 17vw; //margin: 0 0 0 90px; //margin: 0 46px;

      h1 {
        font-size: 1em; //font-size: 20px;
        color: $base-text-color;
        margin: 2.2vh 0 1.1vh 0; //margin: 16px 0 8px 0;
        font-weight: 500;
      }

      p {
        font-size: 0.8em;
        float: right;
        //padding: 0 0 0 17vw; //padding: 0 0 0 88px;
        color: rgb(123, 197, 123);
        font-weight: 300;
      }
    }

    .header-right {
      float: right;

      .header-button-container {
        .watchlist-button {
          color: $base-text-color;
          background-color: $primary-bkg; //background: rgb(240, 240, 240);
          font-family: "Noto Sans JP", sans-serif;
          font-weight: 500;
          margin: 1vh 0 0 0;
          padding: 8px; //padding: 12px 20px;
          border: none; //border: 1px solid $border-color;
          border-radius: 4px;
          cursor: pointer;

          #watchlist-icon {
            color: rgb(240, 212, 88);
            font-size: 22px;
            //margin: 0 4px 0 0;
          }

          span {
            display: none;
          }
        }
        button.watchlist-button:hover {
          border: 1px solid $primary-color;
        }
      }
    }
  }
}

.main-content {
  display: flex;
  flex-flow: row wrap;

  .graph-container {
    height: 45vh; //height: 400px;
    width: 100%; //width: 100vw;
    border-bottom: 1px solid $border-color;
    background-color: $primary-bkg;
  }
  .stats-container {
    border-top: 1px solid $border-color;
    background-color: $primary-bkg;
    margin: 5vh 0 0 0;
    height: 45vh;
    width: 100%; //width: 100vw;
    color: $base-text-color;
    padding: 0px 25px;

    h3 {
      font-weight: 500;
    }

    .stat {
      display: block;
      padding: 20px 0px;
      h4 {
        display: inline;
        font-weight: 300;
      }

      p {
        display: inline;
        float: right;
        font-weight: 500;
      }
    }
  }
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .nav-container {
    border-bottom: 1px solid green;
  }
  header {
    .header-container {
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  html,
  body,
  #root {
    background: rgb(242, 242, 242);
  }

  body {
    background: rgb(224, 225, 228);

    .main-content {
      flex-wrap: nowrap;

      .graph-container {
        width: 68%; //width: 32vw;
        border: 1px solid $border-color;
        border-radius: 6px;
        margin: 0 1vw 0 4vw;
      }
      .stats-container {
        width: 32%; //width: 1vw;
        border: 1px solid $border-color;
        border-radius: 6px;
        margin: 0 4vw 0 1vw;
      }
    }
  }
  .nav-container {
    border-bottom: 1px solid yellow;
  }
  header {
    .header-container {
      .header-middle {
        margin: 0 0 0 28vw;
      }

      .header-right {
        .header-button-container {
          .watchlist-button {
            padding: 8px 16px; //padding: 12px 20px;
            border: 1px solid $border-color;
            border-radius: 4px;
            #watchlist-icon {
              font-size: 1em;
              margin: 0 4px 0 0;
            }
            span {
              font-size: 1em;
              color: $base-text-color;
              display: inline;
            }
          }
        }
      }
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-container {
    .navbar {
      .logo {
        display: inline;
        cursor: pointer;
      }

      .nav-menu-container {
        display: inline;
      }

      .hamburger-container {
        display: none;
      }
    }
  }

  .nav-container {
    border-bottom: 1px solid red;
  }

  header {
    .header-container {
      margin: 6vh 0; //margin: 50px 0;
      padding: 0 4vw;

      .header-left {
        .crypto-logo {
          position: relative;
          top: -10px;
          height: 70px; //height: 70px;
          width: 70px; //width: 70px;
          float: left;
        }

        h1 {
          font-size: 1.5em;
          margin: 2.2vh 1.8vw 0 2.8vw; //margin: 16px 10px 0 18px;
          color: $base-text-color;
        }

        h4 {
          font-size: 0.9em;
          margin: 2.9vh 0; //margin: 20px 0px;
          color: gray;
        }
      }

      .header-middle {
        float: left;
        margin: 0 0 0 20vw; //margin: 0 0 0 90px; //margin: 0 46px;

        h1 {
          font-size: 1.5em;
        }

        p {
          font-size: 1em;
        }
      }

      .header-right {
        .header-button-container {
          .watchlist-button {
            padding: 8px 16px; //padding: 12px 20px;
            border: 1px solid $border-color;
            border-radius: 4px;
            #watchlist-icon {
              font-size: 1.2em;
              margin: 0 4px 0 0;
            }
            span {
              font-size: 1.2em;
              color: $base-text-color;
              display: inline;
            }
          }
        }
      }
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .nav-container {
    border-bottom: 1px solid blue;
  }

  header {
    .header-container {
      .header-middle {
        float: left;
        margin: 0 0 0 30vw; //margin: 0 0 0 90px; //margin: 0 46px;
      }
    }
  }
}
