@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: #e0e1e4;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 0 0 0;
}

.nav-container {
  font-weight: bold;
  height: 11.5vh;
  background-color: #f0f0f0;
  padding: 1vh 8vw;
}

.nav-container .navbar {
  width: auto;
  height: 100%;
}

.nav-container .navbar .logo {
  height: 7vh;
  width: 4vw;
  float: left;
  display: none;
  margin: 6px 0 0 0;
}

.nav-container .navbar .hamburger-container {
  float: left;
  margin: 10px 0 0 0;
}

.nav-container .navbar .hamburger-container :hover {
  cursor: pointer;
}

.nav-container .navbar .hamburger-container .hamburger {
  border: none;
  background: none;
}

.nav-container .navbar .hamburger-container .hamburger div {
  width: 35px;
  height: 5px;
  background-color: #4382b5;
  margin: 6px 0;
  border-radius: 6px;
}

.nav-container .navbar .nav-menu-container {
  float: left;
  padding: 3.5vh 8.5vw;
  display: none;
}

.nav-container .navbar .nav-menu-container .nav-menu {
  width: auto;
  height: 100%;
}

.nav-container .navbar .nav-menu-container .nav-menu a {
  text-decoration: none;
  color: #313131;
}

.nav-container .navbar .nav-menu-container .nav-menu a :hover {
  color: #4382b5;
}

.nav-container .navbar .nav-menu-container .nav-menu a .nav-item {
  float: left;
  margin: 0 1.4vw;
  font-weight: 500;
  background: none;
}

.nav-container .navbar .nav-menu-container .nav-menu a.active {
  color: #4382b5;
}

.nav-container .navbar .nav-buttons {
  float: right;
}

.nav-container .navbar .nav-buttons .nav-button-container {
  padding-top: 1.5vh;
}

.nav-container .navbar .nav-buttons .nav-button-container .sign-up,
.nav-container .navbar .nav-buttons .nav-button-container .log-in {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.nav-container .navbar .nav-buttons .nav-button-container .sign-up {
  background: none;
  border: none;
  margin-right: 20px;
  color: #4382b5;
  cursor: pointer;
}

.nav-container .navbar .nav-buttons .nav-button-container .log-in {
  border-radius: 20px;
  border: none;
  background: #4382b5;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

header .header-container {
  margin: 4vh 0;
  padding: 0 7vw;
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid #cfcfcf;
}

header .header-container .header-left {
  width: 100%;
}

header .header-container .header-left .crypto-logo {
  position: relative;
  top: 4px;
  height: 40px;
  width: 40px;
  float: left;
}

header .header-container .header-left h1 {
  font-size: 1em;
  margin: 2.2vh 2vw 0 3.5vw;
  color: #2c2c2c;
}

header .header-container .header-left h4 {
  font-size: 0.5em;
  margin: 3vh 0;
  color: gray;
}

header .header-container .header-left .crypto-logo,
header .header-container .header-left h1,
header .header-container .header-left h4 {
  float: left;
}

header .header-container .header-middle {
  float: left;
  margin: 0 0 0 12vw;
}

header .header-container .header-middle h1 {
  font-size: 1em;
  color: #2c2c2c;
  margin: 2.2vh 0 1.1vh 0;
}

header .header-container .header-middle p {
  font-size: 0.8em;
  float: right;
  color: #7bc57b;
}

header .header-container .header-right {
  float: right;
}

header .header-container .header-right .header-button-container .buy-button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin: 1vh 0 0 0;
  padding: 8px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

header .header-container .header-right .header-button-container .buy-button #watchlist-icon {
  color: #d3ba4b;
}

header .header-container .header-right .header-button-container .buy-button span {
  display: none;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .nav-container {
    border-bottom: 1px solid #cfcfcf;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .nav-container {
    border-bottom: 1px solid green;
  }
  header .header-container .header-right .header-button-container .buy-button {
    padding: 8px 16px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
  }
  header .header-container .header-right .header-button-container .buy-button #watchlist-icon {
    font-size: 1em;
    margin: 0 4px 0 0;
  }
  header .header-container .header-right .header-button-container .buy-button span {
    font-size: 1em;
    color: #2c2c2c;
    display: inline;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .nav-container {
    border-bottom: 1px solid yellow;
  }
  header .header-container .header-middle {
    margin: 0 0 0 18vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-container .navbar .logo {
    display: inline;
    cursor: pointer;
  }
  .nav-container .navbar .nav-menu-container {
    display: inline;
  }
  .nav-container .navbar .hamburger-container {
    display: none;
  }
  .nav-container {
    border-bottom: 1px solid red;
  }
  header .header-container {
    margin: 6vh 0;
    padding: 0 8vw;
  }
  header .header-container .header-left .crypto-logo {
    position: relative;
    top: -10px;
    height: 70px;
    width: 70px;
    float: left;
  }
  header .header-container .header-left h1 {
    font-size: 1.5em;
    margin: 2.2vh 1.8vw 0 2.8vw;
    color: #2c2c2c;
  }
  header .header-container .header-left h4 {
    font-size: 0.9em;
    margin: 2.9vh 0;
    color: gray;
  }
  header .header-container .header-middle {
    float: left;
    margin: 0 0 0 17vw;
  }
  header .header-container .header-middle h1 {
    font-size: 1.5em;
  }
  header .header-container .header-middle p {
    font-size: 1em;
  }
  header .header-container .header-right .header-button-container .buy-button {
    padding: 8px 16px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
  }
  header .header-container .header-right .header-button-container .buy-button #watchlist-icon {
    font-size: 1.2em;
    margin: 0 4px 0 0;
  }
  header .header-container .header-right .header-button-container .buy-button span {
    font-size: 1.2em;
    color: #2c2c2c;
    display: inline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .nav-container {
    border-bottom: 1px solid blue;
  }
}
/*# sourceMappingURL=index.css.map */